/*
Header
*/
/* Estilos para el bandeau de traducción */
.header {
    text-align: center;
    height: 50px;
    background-color: #FCD116; /* Jaune */
    background-size: contain;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-bottom-style: outset;
    border-bottom-color: #003366; /* Bleu foncé */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header .header-menu a {
    color: #003366; /* Bleu foncé */
    margin-right: 15px;
    font-family: 'Merriweather', serif;
}

.header .header-menu a:hover {
    color: #FCD116; /* Jaune */
}

/*
body
*/
body {
    margin: 0;
}

/*
Banner 
*/

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #003366; /* Bleu foncé */
    margin: 0px;
    margin-top: 50px;
}

.banner .banner-content {
    margin-left: 15px;
}

.banner .banner-image {
    margin-right: 15px;
}

.banner .banner-image img {
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 150px;
    height: auto;
    border-color: #FCD116; /* Jaune */
    border-width: 5px;
    border-style: solid dotted;
    border-radius: 75px;
}

.banner .banner-content h1 {
    font-family: 'Merriweather', serif;
    color: #FCD116; /* Jaune */
}

.banner .banner-content h2,
.banner .banner-content h3 {
    font-family: 'Merriweather', serif;
    color: #FCD116; /* Jaune */
}

/*
Contenu
*/
.content {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    margin: auto;
    max-width: 840px;
}

.content .content-title h1 {
    font-family: 'Merriweather', serif;
    color: #003366; /* Bleu foncé */
    border-bottom-style: solid;
}

.content .content-content {
    font-family: 'Raleway', sans-serif;
    color: #003366; /* Bleu foncé */
}

/*
Awesome Font
*/

.fas,
.fa {
    color: #FCD116; /* Jaune */
}

/*
Experiences Pro
*/

i.experiences-lieux {
    color: #003366; /* Bleu foncé */
}

.experiences-list {
    display: flex;
}

ul.content-content {
    list-style-image: none;
    list-style-position: unset;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.experiences-img {
    display: flex;
    margin: auto;
}

.experiences-logo {
    max-width: 64px;
    max-height: 64px;
    position: relative;
    flex-shrink: 0;
}

.experiences-text {
    padding-left: 6px;
    margin: 6px;
    flex-grow: 1;
}

.experiences-lieux,
.experiences-dates,
.experiences-title {
    margin: 0;
    padding: 0;
    border: 0;
}

.experiences-content {
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/*
Formations
*/

.formations-annees {
    float: left;
    padding-right: 0.4em;
    margin-right: 0.4em;
    border-right-style: solid;
    border-right-color: #FCD116; /* Jaune */
}

.formations-diplome,
.formations-lieux {
    margin: 0.25em;
    border: 0;
}

.formations-lieux {
    margin-bottom: 1.5em;
    font-style: italic;
}



/* CSS pour le footer */
footer.translation-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    padding: 10px; /* Espace intérieur */
    text-align: center;
}

